:root {
    --text-primary-color: #FFFFFF;
    --text-primary-dark-color: #595959;
    --text-secondary-dark-color: #3A3F45;
    --text-dark-color: #343434;
    --text-light-color: #6f768b;
    --gray-light-color: #a4a6ac;
    --gray-lighter-color: #B3B5BB;
    --label-text-color: #FFFFFF;
    --label-not-available: #6F768B;
  
    --primary-color: #1DAEEC;
    --primary-dark-color: #027EB4;
    --primary-light-color: #FFE69C;
    --primary-lighter-color: #FFE69C;
    --primary-lightest-color: #ebf4f8;
  
    --success-color: #5EC500;
  
    --secondary-light-color: #B3B5BA;
    --secondary-color: #A4A6AC;
    --secondary-dark-color: #999B9F;
    --secondary-light-alt-color: #E9E9E9;
    --danger-color:#ff4136;
    --secondary-danger-color:#DE5716;
    --danger-remove-color:#C53B33;
    --danger-dark-color: #C84415;
    --secondary-danger-color: #EA6C3F;
    --warning-color: #FFF8E7;
    --warning-dark-color: #FF9800;
  
    --background-color: #F2F4F7;
    --arrow: #4A4A4A;
    --error-color: #DC582A;
    --border-color: #B3B5BA;
  }