<%= contentFor("title") { %> Buybacks <% } %>
<%= contentFor("body-class") { %>list<% }  %>
<%= contentFor("action-buttons") {%>
    <div class="d-flex">
        <button class="btn btn-primary ml-2 d-flex align-items-center justify-content-between"
            hx-post="/buybacks/<%= order.ID %>/bybit/create"
            hx-trigger="click"
            hx-swap="none"
            hx-target="#Buybacks">
            Create Bybit Buybacks
        </button>
        <button class="btn btn-success ml-2 d-flex align-items-center justify-content-between"
            hx-post="/buybacks/<%= order.ID %>/binance/create"
            hx-trigger="click"
            hx-swap="none"
            hx-target="#Buybacks">
            Create Binance Buybacks
        </button>
        <button class="btn btn-danger ml-2 d-flex align-items-center justify-content-between"
            hx-delete="/buybacks/<%= order.ID %>/delete"
            hx-confirm="Are you sure you want to remove these buybacks?">
            Delete Buybacks
        </button>
    </div>
<% } %>

<%= partial("/partials/breadcrumb.plush.html",{
    homePath: orderDetailsPath({order_id: order.ID}),
    session: "Buybacks",
    sessionPath: 	buybackOrderID09aZPath({order_id: order.ID}),
    currentPage: "List",
}) %>

<%= if (len(buybacks) == 0) { %>
    <!-- html here -->
<% } else { %>
    <div class="mt-4" id="Buybacks">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Price</th>
                    <th scope="col">Currency Amount</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Stop Loss</th>
                    <th scope="col">Average</th>
                </tr>
            </thead>
            <tbody>
                <%= for (i, buyback) in buybacks { %>
                    <tr>
                        <th scope="row"><%= i + 1 %></th>
                        <td class="float-number"><%= buyback.Price %></td>
                        <td class="float-number"><%= buyback.CurrencyAmount %></td>
                        <td>$<span class="float-number"><%= buyback.Value %></span></td>
                        <td class="float-number"><%= buyback.StopLossPrice %></td>
                        <td class="float-number"><%= buyback.Average %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
<% } %>