<div class="row mt-4">
    <div class="col">
            <div class="d-flex justify-content-between">
                <label for="" class="text-white">Order Type</label>
                <select name="OrderType" id="" class="w-75 h-40px px-2 rounded">
                    <option value="select" disabled selected>Select</option>
                    <option value="Long" <%= if (order.OrderType == "Long") { %>selected<% } %>>Long</option>
                    <option value="Short" <%= if (order.OrderType == "Short") { %>selected<% } %>>Short</option>
                </select>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <label for="" class="text-white">Currency Name</label>
                <div class="input-group w-75 mb-3 h-40px">
                    <span class="input-group-text" id="basic-addon1">¢</span>
                    <input type="text" name="CurrencyName" <%= if (isEditForm) { %>value="<%= order.CurrencyName %>"<% } %> class="form-control input-uppercase" placeholder="Name" aria-label="Order" aria-describedby="basic-addon1">
                </div> 
            </div>

            <div class="d-flex justify-content-between mt-4">
                <label for="" class="text-white">Buyback Percentage</label>
                <div class="input-group w-75 mb-3 h-40px">
                    <span class="input-group-text" id="basic-addon1">%</span>
                    <input type="text" name="BuybackPercentage" <%= if (isEditForm) { %>value="<%= order.BuybackPercentage %>"<% } %> class="form-control only-numbers" data-decimals="1" data-padzeros="true" placeholder="Buyback" aria-label="Order" aria-describedby="basic-addon1">
                </div> 
            </div>

            <div class="d-flex justify-content-between mt-4">
                <label for="" class="text-white">Currency Percentage</label>
                <div class="input-group w-75 mb-3 h-40px">
                    <span class="input-group-text" id="basic-addon1">%</span>
                    <input type="text" name="CurrencyPercentage" <%= if (isEditForm) { %>value="<%= order.CurrencyPercentage %>"<% } %>  class="form-control only-numbers" data-decimals="1" data-padzeros="true" placeholder="Currency" aria-label="Order" aria-describedby="basic-addon1">
                </div> 
            </div>

            <div class="d-flex justify-content-between mt-4">
                <label for="" class="text-white">Stop Loss</label>
                <div class="input-group w-75 mb-3 h-40px">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input type="text" name="StopLoss" <%= if (isEditForm) { %>value="<%= order.StopLoss %>"<% } %> class="form-control only-numbers" data-decimals="2" data-padzeros="true" placeholder="Stop Loss" aria-label="Order" aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <label for="" class="text-white">Order Price</label>
                <div class="input-group w-75 mb-3 h-40px">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input type="text" name="OrderPrice" <%= if (isEditForm) { %>value="<%= order.OrderPrice %>"<% } %> class="form-control only-numbers" data-decimals="5" data-padzeros="true" placeholder="Initial Price" aria-label="Order" aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <label for="" class="text-white">Currency Quantity</label>
                <div class="input-group w-75 mb-3 h-40px">
                    <span class="input-group-text" id="basic-addon1">#</span>
                    <input type="text" name="CurrencyQuantity" <%= if (isEditForm) { %>value="<%= order.CurrencyQuantity %>"<% } %> class="form-control only-numbers" data-decimals="3" data-padzeros="true" placeholder="Currency" aria-label="Order" aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <label for="" class="text-white">Leverage</label>
                <div class="input-group w-75 mb-3 h-40px">
                    <span class="input-group-text" id="basic-addon1">#</span>
                    <input type="text" name="Leverage" <%= if (isEditForm) { %>value="<%= order.Leverage %>"<% } %> class="form-control only-numbers" data-decimals="0" data-padzeros="true" placeholder="Leverage" aria-label="Order" aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <label for="" class="text-white">Take Profit</label>
                <div class="input-group w-75 mb-3 h-40px">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input type="text" name="TakeProfit" <%= if (isEditForm) { %>value="<%= order.TakeProfit %>"<% } %> class="form-control only-numbers" data-decimals="2" data-padzeros="true" placeholder="TP Price" aria-label="Order" aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <label for="" class="text-white">Other Info</label>
                <div class="d-flex w-75 justify-content-between">
                    <div class="form-check form-switch">
                        <input type="hidden" value="<%=if(order.IsBuybacksEnabled){%>true<%}else{%>false<%}%>" name="IsBuybacksEnabled" />
                        <input class="form-check-input custom-control-input" type="checkbox" id="flexSwitchCheckDefault" <%= if (order.IsBuybacksEnabled) { %>checked<% } %>>
                        <label class="form-check-label text-white" for="flexSwitchCheckDefault">Buybacks Enabled</label>
                    </div>
                    <div class="form-check position-check ml-2">
                        <input type="hidden" value="<%=if(order.IsOrderPosition){%>true<%}else{%>false<%}%>" name="IsOrderPosition" />
                        <input class="form-check-input custom-control-input" type="checkbox" id="CheckOrderPosition" <%= if (order.IsOrderPosition) { %>checked<% } %>>
                        <label class="form-check-label text-white" for="CheckOrderPosition">
                            Order Is Position
                        </label>
                    </div>
                    <div class="form-check tp-check ml-2">
                        <input type="hidden" value="<%=if(order.TakeProfitAchieved){%>true<%}else{%>false<%}%>" name="TakeProfitAchieved" />
                        <input class="form-check-input custom-control-input" type="checkbox" id="CheckTakeProfit" <%= if (order.TakeProfitAchieved) { %>checked<% } %>>
                        <label class="form-check-label text-white" for="CheckTakeProfit">
                            Take Profit Achieved
                        </label>
                    </div>
                    <div class="form-check sl-check ml-2">
                        <input type="hidden" value="<%=if(order.StopLossTaken){%>true<%}else{%>false<%}%>" name="StopLossTaken" />
                        <input class="form-check-input custom-control-input" type="checkbox" id="CheckSl" <%= if (order.StopLossTaken) { %>checked<% } %>>
                        <label class="form-check-label text-white" for="CheckSl">
                            Stop Loss Taken
                        </label>
                    </div>
                    <div class="form-check tw-check ml-2">
                        <input type="hidden" value="<%=if(order.TradeWon){%>true<%}else{%>false<%}%>" name="TradeWon" />
                        <input class="form-check-input custom-control-input" type="checkbox" id="CheckTradeWon" <%= if (order.TradeWon) { %>checked<% } %>>
                        <label class="form-check-label text-white" for="CheckTradeWon">
                            Win Trade
                        </label>
                    </div>
                    <div class="form-check tl-check ml-2">
                        <input type="hidden" value="<%=if(order.TradeLoss){%>true<%}else{%>false<%}%>" name="TradeLoss" />
                        <input class="form-check-input custom-control-input" type="checkbox" id="CheckTradeLoss" <%= if (order.TradeLoss) { %>checked<% } %>>
                        <label class="form-check-label text-white" for="CheckTradeLoss">
                            Loss Trade
                        </label>
                    </div>
                </div>
            </div>
    </div>
</div>