<%= contentFor("title") { %> Orders <% } %>
<%= contentFor("body-class") { %>list<% }  %>
<%= contentFor("action-buttons") {%>
    <div class="d-flex">
        <a class="btn btn-secondary mr-2 d-flex align-items-center justify-content-between h-40px" href="/orders/new"><i class="fas fa-plus font-18 vertical-align-unset"></i><span class="ml-2">Add Order</span></a>
    </div>
<% } %>

<%= partial("/partials/breadcrumb.plush.html",{
    homePath: "#",
    session: "Orders",
    sessionPath: 	ordersPath(),
    currentPage: "List",
}) %>

<%= if (len(orders) == 0) { %>
    <%= partial("/partials/empty.plush.html",{
        boldText: "There are not orders yet.",
        suggestion: "Please add them clicking the button below.",
        hasBtn: true,
        btnText: "Add Order",
        btnPath: newOrdersPath(),
    }) %>
<% } else { %>
    <div class="mt-4">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Order Type</th>
                    <th scope="col">Currency Name</th>
                    <th scope="col">Order Price</th>
                    <th scope="col">Currency Quantity</th>
                    <th scope="col">Stop Loss</th>
                    <th scope="col">Create Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <%= for (i, order) in orders { %>
                    <tr>
                        <th scope="row"><%= i + 1 %></th>
                        <td><%= order.OrderType %></td>
                        <td><%= order.CurrencyName %></td>
                        <td><%= order.OrderPrice %></td>
                        <td><%= order.CurrencyQuantity %></td>
                        <td><%= order.StopLoss %> USDT</td>
                        <td><%= order.CreatedAt.Format("02-01-2006") %></td>
                        <td>
                            <div class="d-flex align-self-center justify-content-center dropdown">
                                <button class="btn btn-outline border-0 text-white" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h font-23" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right py-1 w-195px py-2 font-14 box-shadow box-radius-lg mt-n2" aria-labelledby="dropdownMenuButton">
                                    <a href="/orders/<%= order.ID %>/details" class="dropdown-item pt-2">View</a>
                                    <a href="<%= editOrderPath({order_id: order.ID}) %>" class="dropdown-item pt-2">Edit</a>
                                    <a href="/orders/<%= order.ID %>/delete"
                                        hx-delete="/orders/<%= order.ID %>/delete"
                                        hx-confirm="Are you sure you want to remove this order?"
                                        class="dropdown-item text-danger pb-2">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <%= partial("/partials/pagination.plush.html") %>
    </div>
<% } %>