<div class="order-overview pt-3">
    <h2 class="line-after label mb-3 d-block font-weight-bold">Overview</h2>
    <div class="order-items d-flex py-2">
        <div class="lists d-flex w-50">
            <ul class="order-details-labels list-unstyled label-text-color">
                <li>Order Type</li>
                <li class="pt-2">Contract Name</li>
                <li class="pt-2">Order Price</li>
                <li class="pt-2">Leverage</li>
                <li class="pt-2">Buybacks Enabled</li>
                <li class="pt-2">Buyback Percentage</li>
                
            </ul>
            <ul class="order-details-values list-unstyled px-5">
                <%= if (order.OrderType == "Long") { %>
                    <li class="badge long-badge bg-success first-li"><%= order.OrderType %></li>
                <% } else { %>
                    <li class="badge short-badge bg-danger first-li"><%= order.OrderType %></li>
                <% } %>
                <li class="pt-2 first-li"><%= order.CurrencyName %></li>
                <li class="pt-2 first-li"><%= order.OrderPrice %></li>
                <li class="pt-2 first-li"><%= order.Leverage %>x</li>
                <li class="pt-2 first-li"><%= order.IsBuybacksEnabled %></li>
                <li class="pt-2 first-li"><%= order.BuybackPercentage %>%</li>
            </ul>
        </div>
        <div class="lists d-flex w-50">
            <ul class="order-details-labels list-unstyled label-text-color w-35">
                <li>Currency Percentage</li>
                <li class="pt-2">Currency Quantity</li>
                <li class="pt-2">Stop Loss</li>
                <li class="pt-2">Take Profit</li>
                <li class="pt-2">Order Created</li>
                <li class="pt-2">Order Updated</li>
            </ul>
            <ul class="order-details-values list-unstyled px-4">
                <li><%= order.CurrencyPercentage %>%</li>
                <li class="pt-2"><%= order.CurrencyQuantity %></li>
                <li class="pt-2"><%= order.StopLoss %> USDT</li>
                <li class="pt-2"><%= order.TakeProfit %></li>
                <li class="pt-2"><%= order.CreatedAt.Format("01/02/2006") %></li>
                <li class="pt-2"><%= order.UpdatedAt.Format("01/02/2006") %></li>
            </ul>
        </div>
    </div>
</div>