<nav class="pt-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="text-white text-decoration-none" href="<%= homePath %>"><i class="bi bi-house"></i></a></li>
    <%= if (isBuybackPage) { %>
      <li class="breadcrumb-item"><a class="text-white text-decoration-none" href="<%= beforeSessionPath %>"><%= beforeSession %></a></li>
    <% } %>
    <li class="breadcrumb-item"><a class="text-white text-decoration-none" href="<%= sessionPath %>"><%= session %></a></li>
    <li class="breadcrumb-item active text-white" aria-current="page"><%= currentPage %></li>
  </ol>
</nav>