@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// Base
@import "base/shortcuts";

// Components
@import "components/pagination";

// Helpers
@import "helpers/variables";

// This is just some CSS for the welcome home landing page, feel free to 
// remove it.
.welcome {
    width: 700px;
    margin: 0 auto;
    
    img { 
        width: 300px;
    }

    h1 {
        font-size: 2rem;
    }
}

.ml-2 {
    margin-left: ($spacer * .5) !important;
}

h1 {
    a, i{
        color: #ffe69c;
    }
    
}

.h-40px{height: 40px;}

.card{
    
    h5{
        font-size: 18px;
        font-weight: 700;
        color: var(--text-dark-color);
    }
    .order-items{
        .order-details-labels{
            font-size: 18px;
            color: #B3B5BA;
            li{
                padding: 4px 0px;
            }
        }
        .order-details-values{
            font-size: 18px;
            color: #3A3F45;
            li{
                padding: 4px 0px;
            }
            .first-li {
                padding: 6px 0px;
            }
        }
    }
}

.long-badge, .short-badge{
    height: 25px;
    border-radius: 14px;
    width: 100px;
}

.breadcrumb-item::before {
    color: #B3B5BA !important;
}

.container {
    flex-direction: column !important;
    align-items: inherit !important;

    .item {
        margin: 0 !important;
    }
}

.bg-app {
    background-color: #181A1F;
}

.p-8 {
    padding: 32px;
}
